{% extends 'AppCoder/base.html' %}
{% load static %}

{% block tituloPagina %}
Cursos - AppCoder
{% endblock %}

{% block contenidoPagina %}

{% for curso in object_list %}

<div class="container px-5" >
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{curso.nombre}}</h5>
            <a href="#" class="btn btn-primary">Inscribirme</a>
        </div>
        {% if user.is_superuser %}
            <a href="{% url 'curso_update' curso.id %}">Editar</a>
            <a href="{% url 'curso_delete' curso.id %}">Eliminar</a>
        {% endif %}
    </div>
</div>

{% endfor %}

{% if user.is_superuser %}
    <a href="{% url 'curso_create' %}">+Crear curso</a>
{% endif %}



{% endblock %}