{% extends 'AppCoder/base.html' %}
{% load static %}

{% block tituloPagina %}
Inicio - AppCoder
{% endblock %}

{% block contenidoPagina %}

<header class="bg-danger py-5" style="background: url(https://enzyme.biz/hubfs/big%20data%204v.jpg) no-repeat center center / cover;">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-light mb-2">Potencia tu futuro</h1>
                    <p class="lead text-white mb-4">Amplia variedad de cursos relacionados al mundo de los datos</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-danger btn-lg px-4 me-sm-3" href="{% url 'cursos' %}">Ver Cursos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<h2 class="d-flex justify-content-center mt-3">Clases 100% online y dictadas por profesionales</h2>

<div class="container px-5 mt-4 d-flex justify-content-around flex-wrap">
    <div class="card mb-3" style="width: 18rem;">
        <img src="{% static "imagenes/dataA.jfif" %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Data Analytics</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
        <img src="{% static "imagenes/dataS2.png" %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Data Science</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
        <img src="{% static "imagenes/r.jpg" %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">R</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
        <img src="{% static "imagenes/sql.jpg" %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">SQL</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
        <img src="{% static "imagenes/python.png" %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Python</p>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
        <img src="{% static "imagenes/power_bi.png" %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Power BI</p>
        </div>
    </div>
</div>



{% endblock %}